# Python
__pycache__/
*.py[cod]
*$py.class
venc/
.venv/
env/
.env

# AI & Editor
.gemini/
.vscode/
.idea/
.DS_Store

# Kubernetes / Local artifacts
*.log
cheat-sheet.md
temp-media/

# Jupyter
.ipynb_checkpoints/
